<div class="col-lg-4">
  <h2><%= review.title %></h2>
  <p class="text-danger"><%= review.comment %></p>
  <p><%= review.review %></p>
  <p><a class="btn btn-primary" href="#" role="button">View comments &raquo;</a></p>
</div>
